@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	color: #5b5a5a;
	font-family: 'Museo Sans 500';
	font-size: 14px;
	background: #f6f6f6;
	line-height: 1.5;/*margin: 0 0 67px;*/
}
/*--Custom-css---*/
a, button {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	outline: none;
	display: inline-block;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
}
.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 0px;
	font-size: 0px;
}
h1 {
	clear: both;
	color: #5b5a5a;
	font-size: 35px;
	padding: 0;
	font-family: 'Museo Sans 500';
	font-weight: bold;
}
h2 {
	color: #5b5a5a;
	font-family: 'Museo Sans 500';
	font-weight: bold;
	padding: 0 0 10px;
	position: relative;
}
h3 {
	color: #000;
	font-size: 22px;
	font-family: 'Museo Sans 500';
	font-weight: bold;
	padding-bottom: 15px;
}
h4 {
	color: #5b5a5a;
	font-size: 20px;
	padding-bottom: 10px;
	font-family: 'Museo Sans 500';
	font-weight: bold;
}
h5 {
	color: #5b5a5a;
	font-size: 18px;
	padding-bottom: 15px;
	font-family: 'Museo Sans 500';
	font-weight: bold;
}
h6 {
	color: #5b5a5a;
	font-size: 15px;
	padding-bottom: 5px;
	font-family: 'Museo Sans 500';
	font-weight: bold;
}
.bold1 {
	font-family: 'Museo Sans 500';
	font-weight: bold;
}
.dTable {
	display: table;
	width: 100%;
}
.dTcell {
	display: table-cell;
	vertical-align: top;
}
.dTcell.fBlock {
	background: #027bcf;
	border: 1px solid #0055a9;
	color: #fff;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	width: 78px;
}
.relative {
	position: relative;
}
.deepGrayBg {
	background: #616161;
}
.blackBg {
	background: #0b0b0a;
}
.blackBg2 {
	background: #0a0c0e;
	display: none
}
.radius2 {
-moz- border-radius:2px;
-ms- border-radius:2px;
-o- border-radius:2px;
-webkit- border-radius:2px;
	border-radius: 2px;
}
.radius3 {
-moz- border-radius:3px;
-ms- border-radius:3px;
-o- border-radius:3px;
-webkit- border-radius:3px;
	border-radius: 3px;
}
.radius5 {
-moz- border-radius:5px;
-ms- border-radius:5px;
-o- border-radius:5px;
-webkit- border-radius:5px;
	border-radius: 5px;
}
.radius6 {
-moz- border-radius:6px;
-ms- border-radius:6px;
-o- border-radius:6px;
-webkit- border-radius:6px;
	border-radius: 6px;
}
.SideLradius3 {
-moz- border-radius:3px 0 0 3px;
-ms- border-radius:3px 0 0 3px;
-o- border-radius:3px 0 0 3px;
-webkit- border-radius:3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.SideRradius3 {
-moz- border-radius:0px 3px 3px 0px;
-ms- border-radius:0px 3px 3px 0px;
-o- border-radius:0px 3px 3px 0px;
-webkit- border-radius:0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
.downRradius3 {
-moz- border-radius:0px 0 3px 3px;
-ms- border-radius:0px 0 3px 3px;
-o- border-radius:0px 0 3px 3px;
-webkit- border-radius:0px 0 3px 3px;
	border-radius: 0px 0 3px 3px;
}
.SideRradius5 {
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.radius10 {
-moz- border-radius:10px;
-ms- border-radius:10px;
-o- border-radius:10px;
-webkit- border-radius:10px;
	border-radius: 10px;
}
.fullradius {
-moz- border-radius:100%;
-ms- border-radius:100%;
-o- border-radius:100%;
-webkit- border-radius:100%;
	border-radius: 100%;
}
.radius3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}
.radius0 {
	border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}
.gap_115 {
	height: 115px;
}
.gap_90 {
	height: 90px;
}
.gap_55 {
	height: 55px;
}
.gap_35 {
	height: 35px;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.pad_10-20 {
	padding: 10px 20px;
}
.pad-15 {
	padding: 15px;
}
.p-v-20-30 {
	padding: 20px 0 30px 0;
}
.p-v-75 {
	padding: 75px 0;
}
.padding_60_20 {
	padding: 0 20px 0 60px
}
.padding_20_60 {
	padding: 0 60px 0 20px
}
.padding_33_30 {
	padding: 0 33px 0 30px;
}
.p-v-10 {
	padding: 10px 0;
}
.pad_30 {
	padding: 30px;
}
.padding_60_30 {
	padding: 0 30px 25px 60px
}
.padding_15_30 {
	padding: 0 30px 25px 15px;
}
.pad_0_31 {
	padding: 0 31px
}
.pad_0_30_0 {
	padding: 0 30px 0 0
}
.pad_15_hor {
	padding: 0 15px;
}
.pad_10_hor {
	padding: 0 10px;
}
.pad_20_hor {
	padding: 0 20px;
}
.pad_30_hor {
	padding: 0 30px;
}
.pad_30_ver {
	padding: 30px 0;
}
.pad-v20 {
	padding: 20px 0 !important;
}
.pad-v15 {
	padding: 15px 0;
}
.p-v-40 {
	padding: 40px 0;
}
.p-v-60 {
	padding: 60px 0;
}
.p-v-60-30 {
	padding: 60px 0 30px;
}
.pad-20-10 {
	padding: 20px 10px;
}
.pad_0_30_0_80 {
	padding: 0 30px 80px 30px;
}
.pad_0_15_0_30 {
	padding: 0 15px 30px 15px;
}
.p-b-10 {
	padding-bottom: 10px !important;
}
.p-h-40 {
	padding: 0 40px;
}
.p-l-10 {
	padding-left: 10px;
}
.p-l-15 {
	padding-left: 15px;
}
.p-l-25 {
	padding-left: 25px;
}
.p-r-10 {
	padding-right: 10px;
}
.p-r-15 {
	padding-right: 15px;
}
.p-r-20 {
	padding-right: 20px;
}
.p-r-30 {
	padding-right: 30px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-40 {
	padding-bottom: 40px;
}
.p-v-40-60 {
	padding: 40px 0 60px;
}
.m-t-40 {
	margin-top: 40px !important;
}
.m-t-55 {
	margin-top: 55px;
}
.m-t-60 {
	margin-top: 60px;
}
.m-t-80 {
	margin-top: 80px;
}
.p-h-20 {
	padding: 0 20px;
}
.m-l-246 {
	margin-left: 246px;
	overflow-x: hidden;/*position:absolute;
	top:0;
	left:0;*//*width:100%;*/
	
}
.m-v15-40 {
	margin: 15px 0 40px;
}
.m-v-55-40 {
	margin: 55px 0 40px;
}
/*.m-l-246 *{
	font-size:3vw !important}*/	
.pad_25-0 {
	padding: 25px 0;
}
.pad_20-0 {
	padding: 20px 0;
}
.pad_15-0 {
	padding: 15px 0;
}
.pad_20 {
	padding: 20px;
}
.m-l-15 {
	margin-left: 15px;
}
.m-l-10 {
	margin-left: 10px;
}
.p-l-30 {
	padding-left: 30px;
}
.p-l-40 {
	padding-left: 40px;
}
.m-r-15 {
	margin-right: 15px;
}
.m-r-10 {
	margin-right: 10px;
}
.m-t-30 {
	margin-top: 30px !important;
}
.m-t-20 {
	margin-top: 20px !important;
}
.m-t-10 {
	margin-top: 10px !important;
}
.m-t-15 {
	margin-top: 15px !important;
}
.m-t-5 {
	margin-top: 5px !important;
}
.m-t-8 {
	margin-top: 8px !important;
}
.m-b-5 {
	margin-bottom: 5px !important;
}
.m-b-10 {
	margin-bottom: 10px !important;
}
.m-b-15 {
	margin-bottom: 15px !important;
}
.m-b-20 {
	margin-bottom: 20px !important;
}
.m-b-30 {
	margin-bottom: 30px !important;
}
.m-b-50 {
	margin-bottom: 50px !important;
}
.container{
	max-width:1140px;
	width:100%;
	margin:0 auto;
	}
.autoWl{
	width:auto;
	float:left;
	
	}
.autoWr{
	width:auto;
	float:right;
	}
ul li{
	list-style:none;
	}
header{
	width:100%;
	float:left;
	background:#444;	
	top:-100%;;
	left:0;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	}
header.sticky{
	position:fixed;
	top:0;
	left:0;
	}
header .rightside ul li{
	width:auto;
	float:left;
	margin:0 2px;
	}
header .navItem ul li a{
	text-decoration:none;
	color:#f2f2f2;
	font-size:16px;
	padding:14px 20px;
	}
header .rightside ul li a:hover, header .rightside ul li.active a{
	background:#ff9a23;
	}
.dropBtn{
	width:50px;
	height:38px;
	background:rgba(0,0,0,0);
	border:1px solid #fff;	
	border-radius:5px;
	cursor:pointer;
	padding:7px 10px;
	display:none;
	position:absolute;
	top: 25px;
	right:10px;
	transform:translate(0 , -50%);
	}
.dropBtn .dropLine::before, .dropBtn .dropLine::after {
	display: inline-block;
	height: 2px;	
	border-radius: 2.85714px;
	-webkit-transition: .3s;
	transition: .3s;
	background: #fff;
	content: '';
	position: absolute;
	left: 0;
	-webkit-transform-origin: 2.85714px center;
	transform-origin: 2.85714px center;
	width: 100%;
	z-index:100;
}
.dropBtn .dropLine::before{
	top:-8px;
	}
.dropBtn .dropLine::after{
	top:8px;
	}
.dropBtn .dropLine {
    width: 100%;
    float: left;
    height: 2px;
    margin: 3px 0;
    background: #fff;
	display:block;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.dropBtn.cross .dropLine::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	top: -7px;
	left: 3px;
}
.dropBtn.cross .dropLine::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	top: 9px;
	left: 3px;
}
.dropBtn.cross .dropLine{
	background:rgba(0,0,0,0);	
	}
.dropBtn .dropLine::after {
	/*-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;	*/
	width:100%;
	display:block;
}
.dropBtn .dropLine::before{
	/*-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;*/	
	width:100%;
	display:block;
	}

/*Third Menu*/
header .navItem ul li{
	position:relative;
	}

header .navItem ul li ul{
	width:200px;
	position:absolute;
	top:200%;
	left:0;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	}
header .navItem ul li ul li{
	width:100%;
	float:left;
	margin:0 !important;
	}
header .navItem ul li ul li a{
	width:100%;
	float:left;
	background:#444;
	}
header .navItem ul ul li ul{
	width:200px;
	position:absolute;
	top:50px;
	left:100%;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	}
header .navItem ul li:hover ul{
	top:100%;
	opacity:1;
	visibility:visible;
	}
header .navItem ul li:hover ul ul{	
	opacity:0;
	visibility: hidden;
	}
header .navItem ul ul li:hover ul{
	top:0;
	opacity:1;
	visibility: visible;
	}
header .navItem ul ul li:hover ul ul{
	top:100%;
	opacity:0;
	visibility: hidden;
	}
header .navItem ul ul ul li:hover ul{
	top:0;
	opacity:1;
	visibility: visible;
	}
header .navItem ul ul ul li:hover ul ul{
	top:100%;
	opacity:0;
	visibility: hidden;
	}
header .navItem ul ul ul ul li:hover ul{
	top:0;
	opacity:1;
	visibility: visible;
	}


















@media only screen and (max-width : 950px) {
	.dropBtn{
		display:block;	
		}
	.navItem {
		max-width:250px;
		width:100%;
		height:100%;
		position:fixed;
		top:52px;
		right:-100%;
		visibility:hidden;
		opacity:0;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
	}
	.clickShow{
		visibility:visible;
		opacity:1;
		right:0;
		}
	.navItem ul{
		width:100%;
		float:left;
		background:#444;
		}
	header{
		position:fixed;
		top:0;
		left:0;
		}
	header .navItem ul li{
		width:100%;
		float:left;	
		padding:1px 0 !important;
		margin:0;	
		}
		
	header .navItem ul li a{
		width:100%;
		float:left;		
		}
}